<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <span data-feather="home"></span> Listado postulaciones <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Listado postulaciones</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <button type="button" class="btn btn-sm btn-primary" routerLink="/detallePostulacion/nuevo">
                        <i class="fa fa-plus"></i>
                        Agregar postulación
                    </button>

                    </div>

                </div>
            </div>

            <!--<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>-->

            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="table-responsive">
                            <table *ngIf="!cargando && postulaciones.length > 0" class="table mt-3 table-striped table-sm animated fadeIn faster">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>ID</th>
                                        <th>REV</th>
                                        <th>Llamado</th>
                                        <th>RUT</th>
                                        <th>Puntaje</th>
                                        <th>Monto (UF)</th>
                                        <th>Estado</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>

                                <tbody *ngFor="let postulacion of postulaciones; let i = index">
                                    <tr>
                                        <td>{{postulacion._id}}</td>
                                        <td>{{postulacion._rev}}</td>
                                        <td>{{postulacion.llamado}}</td>
                                        <td>{{postulacion.rut}}</td>
                                        <td>{{postulacion.puntaje}}</td>
                                        <td>{{postulacion.monto}}</td>
                                        <td>
                                            <label *ngIf="postulacion.estado == 1" class="badge badge-primary">Ingresado</label>
                                            <label *ngIf="postulacion.estado == 2" class="badge badge-info">Aprobado</label>
                                            <label *ngIf="postulacion.estado == 3" class="badge badge-success">Seleccionado</label>
                                        </td>
                                        <th>
                                            <button type="button" class="btn btn-info mr-1" [routerLink]="['/detallePostulacion',postulacion._id]">
                                                <i class="fa fa-pen"></i>
                                            </button>
                                            <!-- <button type="button" class="btn btn-danger" (click)="EliminarPostulacion(postulacion,i)">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        -->
                                        </th>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>

                <div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn faster" role="alert">
                    <h4 class="alert-heading">Cargando ...</h4>
                    <p>
                        <i class="fa fa-sync-alt fa-spin fa-2px"></i>
                    </p>
                    <p>
                        Espere por favor.
                    </p>
                </div>
                <div *ngIf="!cargando && postulaciones.length === 0" class="alert alert-warning text-center mt-3 animated fadeIn faster" role="alert">
                    <h4 class="alert-heading">No hay registros</h4>
                    <p>
                        <i class="fa fa-exclamation fa-2x"></i>
                    </p>
                </div>
            </div>

        </main>
    </div>
</div>