<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <span data-feather="home"></span> Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['detallePostulacion']">
                            <span data-feather="file"></span> detalle
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="shopping-cart"></span> Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="users"></span> Customers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="bar-chart-2"></span> Reports
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="layers"></span> Integrations
                        </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Saved reports</span>
                    <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span> Current month
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span> Last quarter
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span> Social engagement
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span> Year-end sale
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <button type="button" class="btn btn-sm btn-primary" routerLink="/detallePostulacion/nuevo">
                        <i class="fa fa-plus"></i>
                        Agregar postulación
                    </button>

                    </div>

                </div>
            </div>

            <!--<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>-->

            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="table-responsive">
                            <table class="table mt-3 table-striped table-sm">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>ID</th>
                                        <th>Llamado</th>
                                        <th>RUT</th>
                                        <th>Puntaje</th>
                                        <th>Monto (UF</th>
                                        <th>Estado</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let postulacion of listadoPostulaciones">
                                    <tr>
                                        <td>{{postulacion._id}}</td>
                                        <td>{{postulacion._rev}}</td>
                                        <td>{{postulacion.rut}}</td>
                                        <td>{{postulacion.puntaje}}</td>
                                        <td>{{postulacion.monto}}</td>
                                        <td>{{postulacion.estado}}</td>
                                        <th><button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#PostulacionModal" data-whatever="@mdo">Ingresar</button></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="alert alert-info text-center mt-3" role="alert">
                    <h4 class="alert-heading">Cargando ...</h4>
                    <p>
                        <i class="fa fa-sync-alt fa-spin fa-2px"></i>
                    </p>
                    <p>
                        Espere por favor.
                    </p>
                </div>
                <div class="alert alert-warning text-center mt-3" role="alert">
                    <h4 class="alert-heading">No hay registros</h4>
                    <p>
                        <i class="fa fa-exclamation fa-2x"></i>
                    </p>
                </div>
            </div>

        </main>
    </div>
</div>