<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <span data-feather="home"></span> Listado postulaciones<span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Formulario de postulación</h1>

            </div>

            <div class="form-group text-right">
                <div class="col">
                    <button class="btn btn-danger" [routerLink]="['/home']">
                        <i class="fa fa-arrow-left"></i>
                        Regresar
                    </button>
                </div>
            </div>
            <div class="container">
                <form (ngSubmit)="guardar(f)" #f="ngForm" class="needs-validation" novalidate>
                    <div class="form-group">
                        <div class="col">
                            <label for="validationCustom01">ID</label>
                            <input type="text" class="form-control" id="validationCustom01" [(ngModel)]="postulacion._id" name="_id" required disabled>
                            <!--<div class="invalid-feedback">
                                Ingrese un Llamado
                            </div>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col">
                            <label for="validationCustom02">REV</label>
                            <input type="text" class="form-control" id="validationCustom02" [(ngModel)]="postulacion._rev" name="_rev" required disabled>
                            <!--<div class="invalid-feedback">
                                Ingrese un Llamado
                            </div>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col">
                            <label for="validationCustom03">N° Llamado</label>
                            <input type="text" class="form-control" id="validationCustom03" [(ngModel)]="postulacion.llamado" name="llamado" placeholder="3180" required>
                            <div class="invalid-feedback">
                                Ingrese un Llamado
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col">
                            <label for="validationCustom04">RUT</label>

                            <input type="text" class="form-control" id="validationCustom04" [(ngModel)]="postulacion.rut" name="rut" placeholder="11555888-9" required>
                            <div class="invalid-feedback">
                                Ingrese un RUT
                            </div>
                        </div>
                    </div>
                    <!---</div>
                    <div class="form-row">-->
                    <div class="form-group">
                        <div class="col">
                            <label for="validationCustom05">Puntaje</label>
                            <input type="text" class="form-control" id="validationCustom05" [(ngModel)]="postulacion.puntaje" name="puntaje" placeholder="100" required>
                            <div class="invalid-feedback">
                                Ingrese un puntaje
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col">
                            <label for="validationCustom06">Monto en UF</label>
                            <input type="text" class="form-control" id="validationCustom06" [(ngModel)]="postulacion.monto" name="monto" placeholder="1600" required>
                            <div class="invalid-feedback">
                                Ingrese un monto.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col">
                            <label for="validationCustom07">Estado</label>
                            <select class="custom-select" id="validationCustom07" [(ngModel)]="postulacion.estado" name="estado" required>
                            <option selected disabled value="">Selecciones una opción</option>
                            <option value ="1">Ingresar Postulación</option>
                            <option value ="2">Aprobar</option>
                            <option value ="3">Seleccionar</option>
                            </select>
                            <div class="invalid-feedback">
                                Seleccione un estado.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group text-center">
                            <button class="btn btn-primary" type="submit">
                                <i class="fa fa-save"></i>
                                Guardar</button>
                        </div>
                    </div>
                </form>
            </div>

            <br>
        </main>
    </div>
</div>